  <div class="header">
    <nav>
      <ul class="list-unstyled d-flex pt-3">
        <li class="links"><a href="./index.html">First Page</a></li>
        <li class="links"><a href="./second-page.html">Second Page</a></li>
        <li class="links"><a href="./third-page.html">Third Page</a></li>
        <li class="links"><a href="./fourth-page.html">Fourth Page</a></li>
      </ul>
    </nav>
  </div>